openapi: 3.0.3
info:
  title: Ava Protocol AVS Auth Operators API
  version: 1.0.0
  description: 'Public REST API for the Ava Protocol AVS aggregator. Exposes workflow

    creation, execution monitoring, smart-wallet management, and related

    operations.


    Authentication is a single credential type — a JWT bearer token — obtained

    either via the wallet-signing flow (`POST /auth:exchange`) or out-of-band

    via the operator-run `create-api-key` CLI. Every request must include

    `Authorization: Bearer <jwt>`.

    '
servers:
- url: https://gateway.avaprotocol.org/api/v1
  description: Production gateway
- url: https://gateway-staging.avaprotocol.org/api/v1
  description: Staging gateway
- url: http://localhost:8080/api/v1
  description: Local dev
security:
- bearerAuth: []
tags:
- name: Operators
  description: Connected operator status (read-only)
paths:
  /operators:
    get:
      tags:
      - Operators
      summary: List connected operators
      description: 'Read-only monitoring endpoint. Returns each operator''s

        `supportedChainIds`, `capabilities`, `lastSeen`, and `version`.

        Useful for dashboards and debugging multi-chain task routing.

        '
      operationId: listOperators
      responses:
        '200':
          description: Connected operators.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    OperatorInfo:
      type: object
      required:
      - address
      - supportedChainIds
      properties:
        address:
          $ref: '#/components/schemas/EthereumAddress'
        supportedChainIds:
          type: array
          items:
            $ref: '#/components/schemas/ChainId'
        capabilities:
          $ref: '#/components/schemas/OperatorCapabilities'
        version:
          type: string
        lastSeen:
          $ref: '#/components/schemas/Timestamp'
        blockNumber:
          type: integer
          format: int64
        eventCount:
          type: integer
          format: int64
    Timestamp:
      type: string
      format: date-time
      description: RFC 3339 timestamp.
    ChainId:
      type: integer
      format: int64
      description: 'Numeric chain ID (e.g. 11155111 for Sepolia, 8453 for Base). On

        chain-aware trigger/node configs this is required and must be a

        configured chain; on query/filter params it is optional.

        '
      example: 11155111
    Problem:
      type: object
      description: 'RFC 7807 problem+json. Returned as `application/problem+json` on any

        4xx/5xx response. `type` and `title` describe the error class; `detail`

        is human-readable; `instance` is a per-request identifier suitable for

        log correlation.

        '
      required:
      - type
      - title
      - status
      properties:
        type:
          type: string
          format: uri
          description: URI identifying the problem type.
          example: https://docs.avaprotocol.org/errors/workflow-not-found
        title:
          type: string
          description: Short, human-readable summary.
          example: Workflow not found
        status:
          type: integer
          format: int32
          description: HTTP status code (echoed for clients that surface only the body).
          example: 404
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence.
          example: No workflow with id 01JG2FE5MDVKBPHEG0PEYSDKAC for owner 0xabc...
        instance:
          type: string
          description: URI / opaque ID identifying this specific occurrence (e.g., request id).
          example: req_01JG2FE5MFKTH0754RGF2DMVY7
        code:
          type: string
          description: 'Machine-readable error code. Stable across releases; clients can

            switch on this for programmatic handling. Mirrors the gRPC-era

            ErrorCode enum vocabulary.

            '
          example: WORKFLOW_NOT_FOUND
    EthereumAddress:
      type: string
      pattern: ^0x[a-fA-F0-9]{40}$
      description: Lowercase or checksummed hex EOA / contract address.
      example: '0x82F2Dd9a552a69f2ceD7Ff2D05c43aB8430158FB'
    OperatorList:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OperatorInfo'
    OperatorCapabilities:
      type: object
      properties:
        eventMonitoring:
          type: boolean
        blockMonitoring:
          type: boolean
        timeMonitoring:
          type: boolean
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT bearer token. Obtained via `POST /auth:exchange` (wallet

        signature flow) or via the operator-run `create-api-key` CLI

        (long-lived, server-to-server). Send on every request as

        `Authorization: Bearer <jwt>`.

        '
